# Git
.git 
.gitignore

# Docker
.docker 

# Python
base/__pycache__/
base/*/__pycache__/
base/*/*/*/__pycache__/

app/__pycache__/
app/*/__pycache__/
app/*/*/*/__pycache__/

.env/
.venv/
venv/

#Local PostgresSQL data
data/