version: '3.9'

services:
  app:
    build:
      context: .
    ports:
      - 8000:8000
    volumes:
      - ./app:/app
    environment:
      - SECRET_KEY=devsecretkey
      - DEBUG-1

  db:
    image: postgres:12-alpine
    environment:
      - POSTGRES_DB=devdb
      - POSTGRESS_USER
      - POSTGRES_PASSWORD=changeme


